* {

    margin: 0;
    padding: 0;
}

input {

    border-style: solid;
    border-color: grey;
    border-radius: 10%;

}

body {


    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 17px;
 
}

h2 {

    display: inline-block;
    font-size: 25px;
    padding-left: 30%;
    position: absolute;
    padding-top: 25px;
    
}

h1 {

    font-size: 45px;

}

button {

    height:15%;
    width: 25%;
    border-radius: 40%;
    background-color: rgb(0, 140, 255);
    position: absolute;
    margin-left: 100px;
    bottom: -30px;
    justify-content: center;
    border-radius: 500px;
    border-color: black;
    bottom: 5px;

}

button:hover {

    cursor: pointer;
    color: white!important;
}

.billing {

    position: absolute;
    margin-left: 450px;
    margin-top: 58px;    
    background-color: rgb(196, 148, 18);
    padding-top: 10px;
    padding-bottom: 35px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10%;
}

.payment {

    position: absolute;
    margin-bottom: 400px;
    margin-left: 780px;
    margin-top: 70px;  
    background-color: rgb(63, 172, 48);
    padding-top: 10px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px; 
    border-radius: 10%;

}



